@font-face {
  font-family: aku;
  src: url(Font/LithosPro-Regular.otf);
}

#produk1 {
  padding-top: 3rem;
  background-color: white;
}

#produk2 {
  padding-top: 3rem;
  background-color: white;
}

#produk3 {
  padding-top: 3rem;
  background-color: white;
}

#produk4 {
  padding-top: 3rem;
  background-color: white;
}
